.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  width: 30px !important;
  height: 30px !important;
  transform: scale(0.8);
}

.swiper-button-next {
  right: 10px !important;
}

.swiper-button-prev {
  left: 10px !important;
}

.my-swiper-button-next-uni,
.my-swiper-button-prev-uni {
  color: black;
  transform: scale(0.8);
  position: absolute;
  top: 50%; /* This will center the buttons vertically */
  transform: translateY(-50%) scale(0.8); /* Adjusting for transform and centering */
  z-index: 20;
}

.my-swiper-button-next-uni {
  right: -20px;
  background-color: rgba(128, 128, 128, 0.515);
  height: 40px;
  width: 40px;
  padding: 6px;
  border-radius: 50%;
}

.my-swiper-button-prev-uni {
  left: -20px;
  background-color: rgba(128, 128, 128, 0.515);
  height: 40px;
  width: 40px;
  padding: 6px;
  border-radius: 50%;
}
