.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  width: 30px !important;
  height: 30px !important;
  transform: scale(0.8);
}

.swiper-button-next {
  right: 10px !important;
}

.swiper-button-prev {
  left: 10px !important;
}

.my-swiper-button-next-uni,
.my-swiper-button-prev-uni {
  /* color: black; */
  /* transform: scale(0.8); */
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%) scale(0.8); */
  /* z-index: 20; */
}

.my-swiper-button-next-uni {
  right: -20px;
}

.my-swiper-button-prev-uni {
  left: -20px;
}

.my-swiper-button-next-uni2,
.my-swiper-button-prev-uni2 {
  position: absolute;
  top: 50%; /* This will center the buttons vertically */
}

.my-swiper-button-next-uni2 {
  right: -20px;
}

.my-swiper-button-prev-uni2 {
  left: -20px;
}

.my-swiper-button-next-uni.swiper-button-disabled,
.my-swiper-button-prev-uni.swiper-button-disabled {
  color: #ccc;
  cursor: not-allowed;
}
.my-swiper-button-next-uni2.swiper-button-disabled,
.my-swiper-button-prev-uni2.swiper-button-disabled {
  color: #ccc;
  cursor: not-allowed;
}
