@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.popup-scrollbar {
  max-height: 300px; /* Limit the height of the scrollable area */
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}

/* Webkit-based browsers */
.popup-scrollbar::-webkit-scrollbar {
  width: 5px; /* Slim width */
  height: 5px; /* Reduce scrollbar height */
}

.popup-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

.popup-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.4);
  border-radius: 3px; /* Rounded scrollbar for aesthetics */
  transition: background 0.3s;
}

.popup-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.7); /* Highlight on hover */
}

/* Dark mode adjustments */
body.dark .popup-scrollbar {
  scrollbar-color: rgba(200, 200, 200, 0.3) transparent;
}

body.dark .popup-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, 0.3);
}

body.dark .popup-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(200, 200, 200, 0.5);
}


@media (min-width: 902px) and (max-width: 990px) {
  .final {
    width: 660px;
    margin: auto;
  }
}

@media (min-width: 991px) and (max-width: 1014px) {
  .final {
    width: 700px;
    margin: auto;
  }
}
@media (min-width: 1013px) and (max-width: 1141px) {
  .final {
    width: 800px;
    margin: auto;
  }
}

@media (min-width: 1142px) and (max-width: 1236px) {
  .final {
    width: 900px;
    margin: auto;
  }
}
@media (min-width: 1237px) and (max-width: 1402px) {
  .final {
    width: 1000px;
    margin: auto;
  }
}

@media (min-width: 1403px) and (max-width: 1600px) {
  .final {
    width: 1200px;
    margin: auto;
  }
}

@media (min-width: 1601px) {
  .final {
    width: 1300px;
    margin: auto;
  }
}

.ds-scrollbar::-webkit-scrollbar{
  display: none;
}



