body{
    
    font-family: "Inter", sans-serif !important;
    overflow-x: hidden !important;
	margin: 0;
	padding: 0;
 
    background-color: #ffffff;
}
@media only screen and (max-width: 764px) {
	.topic-page{
		margin-top: 12% !important;
		margin-left: 3% !important;
		margin-right: 3% !important;
	}
	
	.heading-top{
		flex-direction: column !important;
	}
	.heading-para p {
		
		margin-top: -9% !important;
	}
	.follow-newTopic {
		margin-top: -3% !important;
		margin-right: 3% !important;
		display: flex;
		gap: 20px;
		 justify-content: flex-start!important;
	}
	.cards-forum {
		margin-left: 3% !important;
		margin-right: 3% !important;
		margin-top: 5% !important;
		margin-bottom: 5% !important;
	}
  }
  
.cards a{
	text-decoration: none;
	color: inherit !important; 
}

.topic-page{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
	max-width: 1400px;
}
.heading-top{
	display: flex;
	justify-content: space-between;
}
.heading-para h3{
	color: #202124;
	font-size: 36px;
}
.heading-para p{
	color: #363737;
	font-size: 16px;
	margin-top: -5% ;

}
.follow-newTopic{
	margin-top: 3%;
	display: flex;
	justify-content: space-between;
}
.follow-button p {
    cursor: pointer;
	border-radius: 20px;
	padding:10px 19px 10px 20px  !important;
	
  
  
	
    transition: background-color 0.3s ease; /* Smooth transition for background-color */
}
.follow-button{
	margin-right: 10px;
}
.follow-button p:hover {
    background-color: rgb(240, 234, 234);
}
.follow-button p{
	color: #202124;
	font-size: 14px;
	

}
.follow-button i{
	margin-right: 5px;

}
.new-topic-button p{

color: white;
align-items: center;
font: 600;
font-size: 14px;
    background-color: rgb(32, 33, 36);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    height: 36px;
    padding: 0px 16px 0px 12px;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
	margin-bottom: 2px;
    width: fit-content;
}
.new-topic-button i{
	margin-right: 3px;
}


.topic-replies-views a{
   text-decoration: none;
   color: #10162f !important;
   font-size: .875rem;
}

.topic-replies-views{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    
   
}
.grey-devider{
	height: 1px;
	background-color: rgb(237, 228, 228);
	margin-top: 7px;
	width: 100%;
}
.cards{
    margin-top: 1%;
}

.replies-views{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-right: 1%;

}
.content{
    max-width: 696px;
    margin-left: 1%;
}



.content p{
    color: #212122;
    font-size: 13px;
}
.main-card , .other-card{
    border: 1px solid rgb(166, 168, 170);
	margin-top: 10px;
	border-radius: 20px;
    display: flex;
	cursor: pointer;
    justify-content: space-between;
  background-color: #ffffff;
 
}
.buttons-disc {
    display: flex;
	gap: 25px;
	margin-top: 1%;
 
    padding: 3px;
}
.buttons-disc a.active {
    background-color: #ccc;
}


.buttons-disc a {
	cursor: pointer;
    text-decoration: none;
	
    color: rgb(28, 27, 27);
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buttons-disc a.active {
    background-color: rgb(238, 233, 233);

}
.search-container {
    position: relative;
	margin-top: 2%;
}
.search-container i {
    position: absolute;
    left: 15px; /* Adjust this value as needed */
    top: 50%;
    transform: translateY(-50%);
    color: rgb(154, 155, 157);
}
.search-input {
    font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 102px;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 24px;
    color: rgb(32, 33, 36);
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
    transition: border 0.3s ease 0s;
}
.other-card h1{

 color: rgb(32, 33, 36);
    font-size: 18px;
	font: 600;
	font-family: "Inter", sans-serif;
	line-height: 24px;
    
    

}

.profile-pics {
    display: flex;
	
    justify-content: center;
    align-items: center;
}
.profile-pics img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
	left: 6px;
    margin-left: -6px;
    position: relative;

}
.r-v-a-count{
    display: flex;
    justify-content: center;
    align-items: center;
	font: bold;
    gap: 50px;
    font-size: 13px;
    color: rgb(57, 205, 57);
    margin-right: 1%;
    
}
.content i{
	margin-right: 5px;
}
.no-search {

    display: flex ;
    flex-direction: column ;
    justify-content: center;
    align-items: center ;
	margin-top: 5%;
}
.no-search strong{
	color: #202124;
	font-size: 18px;
}
@media (max-width: 800px) {
    .views{
        display: none;
    }
	
    .content h1{
		line-height: 16px;
        font-size: 14px;
        font-weight: 600;
    }
    .content p{
      
        font-size: 11px;
    }
    .profile-pics img{
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .topic-replies-views a{
       
        font-size: 10px;
     }
     
.replies-views{
    display: flex;
    justify-content: space-between;
    gap: 9px;
    margin-right: 1%;

}
.r-v-a-count{
 
    gap: 29px;
    font-size: 9px;
 
    margin-right: 2%;
    
}
.content{
    max-width: 180px;
    margin-left: 1%;
}

}

/* Navbar and footer */

/* //------------ */

.dropMenu {
    font-family: 'Montserrat', sans-serif;
	background-color: #19191a;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	display: grid;
	place-items: center;
	transform: translateX(-100%);
	transition: all 0.5s ease;
	display: none;
}
.btn {
	outline: none;
	border: none;
	width: 120px;
	height: 40px;
	font-size: 1.1rem;
	font-weight: 630;
	border-radius: 5px;
	transition: all 0.7s ease;
	background-color: rgb(255, 255, 255);
}
.btn:hover {
	background-color: #ff08d6;
}
.btn1 {
	padding-top: px;
	outline: none;
	border: none;
	width: 120px;
	height: 45px;
	font-size: 1rem;
	font-weight: 640;
	border-radius: 5px;
	transition: all 0.7s ease;
	background-color: rgb(236, 69, 208);
}
.btn1:hover {
	background-color: #ffffff;
}
.mob1 {
	padding: 25px;
	height: 20%;
}

.avatar {
	margin: 0 30px;
	display: grid;
	place-items: center;
	height: 40px;
	width: 40px;
}
.profile_dropDown {
	width: 220px;
	height: 250px;
	background-color: #ffffff;
	position: absolute;
	top: 58px;
	right: 2px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-direction: column;
	transition-duration: 0.5s;
	z-index: -5;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	opacity: 0;
	pointer-events: none;
}
.profile_dropDown_item {
	padding: 5px;
	display: flex;
	align-items: center;
	width: 100%;
	cursor: pointer;
	z-index: -5;
	text-decoration: none;
	color: #000;
	border-left: solid 5px transparent;
	font-weight: 500;
}
.profile_dropDown_item:hover {
	border-left: solid 5px rgb(236, 69, 208);
	background-color: #e0e0e0;
	color: rgb(236, 69, 208);
	font-weight: 600;
}
.profile_dropDown_item span {
	margin: 10px;
}
.profile_dropDown_item span img {
	width: 22px;
	object-fit: contain;
}
.avatar img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}
.avatar:hover img {
	border: 2px solid rgb(236, 69, 208);
}
@media (max-width: 600px) {
	.dropMenu {
		display: flex;
	}
	.Ham {
		display: block;
	}
}
.Close {
	position: absolute;
	top: 25px;
	right: 30px;
	color: white;
	font-weight: 600;
	font-size: 2rem;
	cursor: pointer;
}
.MenuAnimation {
	transform: translateX(0%);
}
.ham {
	cursor: pointer;
}
.dropMenu ul {
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
.dropMenu ul li {
	width: 100%;
	height: 70px;
	display: grid;
	place-items: center;
}
.dropMenu ul li a {
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 500;
	color: #ffffff;
	transition: all 0.5s ease;
	white-space: nowrap;
}
.dropMenu ul li a:hover {
	color: rgb(236, 69, 208);
}

/* //------------- */
.header {
	width: 100%;
    font-family: 'Montserrat', sans-serif;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(26, 25, 29);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 55;
	transition: all 0.5s ease;
}
.sub_header {
	max-width: 1400px;
	width: 100%;
	background-color: inherit;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 54;
}
.logo {
	width: 100px;
	display: flex;
	align-items: center;
	margin-left: 50px;
}
.logo img {
	width: 100%;
	object-fit: contain;
}
.ham {
	display: none;
}

.menu_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 70%;
	width: 100%;
	z-index: 55;
	background-color: inherit;
}
.menu_item ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.menu_item ul li {
	list-style: none;
	white-space: nowrap;
}
.menu_item ul li a {
	text-decoration: none;
	color: #fff;
	transition: all 0.5s ease;
	position: relative;
	font-size: 0.8rem;
	letter-spacing: 1px;
	white-space: nowrap;
	font-weight: 600;
}
.menu_item ul li span {
	color: #fff;
	margin-left: 5px;
}
.menu_item ul li a::after {
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	background-color: #b6228f;
	bottom: -10px;
	left: 0;
	transition: all 0.5s ease;
}
.menu_item ul li a:hover::after {
	width: 99%;
}
.menu_item ul li a:hover {
	color: #b6228f;
}
.buttons {
	margin: 0 20px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.buttons button {
	width: 90px;
	height: 30px;
	margin-left: 10px;
	outline: none;
	border: none;
	text-transform: capitalize;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}
#login {
	background-color: #ffffff;
	color: #fc00bd;
	border: solid 1px #fc00bd;
}
#register {
	background-color: #fc00bd;
	color: #fff;
}
.hero_container {
	width: 100%;
	max-height: 1000px;
	display: grid;
	place-items: center;
	overflow: hidden;
}
.Hero_section {
	max-width: 1400px;
	max-height: 1000px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	overflow: hidden;
}
.Hero_title {
	width: 100%;
	display: grid;
	place-items: center;
	background-color: transparent;
	position: absolute;
	top: 80px;
}
.Hero_title h1 {
	color: #fff;
	font-size: 2.8rem;
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
	white-space: nowrap;
	transition: all 0.5s ease;
}
.Hero_title span {
	color: #fc00bd;
}
.Hero_img {
	width: 70vw;
	height: 70vw;
	max-width: 1400px;
	background-image: url('background.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}







/* .footer_MainBox  *{
    
	width: 100%;
	background-color: #000000;
	display: grid;
	place-items: center;
    font-family: 'Montserrat', sans-serif;
} */

.footer_MainBox *{
    margin: 0px !important;
 
    box-sizing: border-box!important;
}
.footer_MainBox {
 
 
	width: 100%;
	background-color: #000000;
	display: grid;
	place-items: center;
    font-family: 'Montserrat', sans-serif;
}
.Footer_page {
	overflow: hidden;
	width: 100%;
	max-width: 1400px;
	width: 100%;
}
.Footer_conatiner {
	width: 100%;
	height: fit-content;
	background-color: #000000;
	display: flex;
	justify-content: space-evenly;
	padding: 20px;

	position: relative;
}
.Footer_header {
	width: 50%;
	height: 100%;
	letter-spacing: 1px;
	line-height: 1.5em;
	color: rgba(245, 245, 245, 0.788);
	padding-right: 20px;
	padding: 10px;
}
.Footer_header p {
	font-size: 0.8rem;
}
.Footer_columns_holder {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	overflow: hidden;
}
.Footer_columns {
	height: 200px;
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	letter-spacing: 2px;
	overflow: hidden;
}
.Footer_columns h1 {
	font-size: 1rem;
	color: white;
	font-weight: 600;
}
.Footer_columns a {
	width: fit-content;
	text-decoration: none;
	font-size: 0.8rem;
	color: rgba(245, 245, 245, 0.788);
	transition: all 0.5s ease;
}
.Footer_header img {
	width: 150px;
	object-fit: contain;
}
.Footer_columns a:hover {
	text-decoration: underline;
	color: #ff00bb;
}
.join_our {
	padding: 0 50px;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	position: absolute;
	bottom: 5%;
	right: 0%;
}
.join_our p {
	color: #fff;
	font-weight: 500;
	margin-right: 120px;
	margin-top: 3% !important;
	white-space: nowrap;
}
.input_holder {
	display: flex;
	justify-content: space-around;
}
.input_holder input {
	outline: none;
	border-radius: 20px;
	height: 35px;
	width: 200px;
	border: solid 1px white;
	padding: 10px;
}
.input_holder button {
	outline: none;
	border: none;
	width: 90px;
	height: 35px;
	border-radius: 20px;
	background: #ff00bb;
	font-weight: 600;
}
.Privacy_holder {
	width: 100%;
	height: 60px;
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.Privacy_links {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.Privacy_links a {
	font-weight: 500;
	width: fit-content;
	text-decoration: none;
	font-size: 0.7rem;
	color: rgba(255, 255, 255, 0.404);
	transition: all 0.5s ease;
}
.Privacy_links a:hover {
	color: rgba(255, 255, 255, 0.938);
}
.Social-media {
	margin-right: 40px;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image_conatiner {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#link {
	object-fit: contain;
	width: 30px;
	cursor: pointer;
}
.copyRight {
	color: rgba(255, 255, 255, 0.644);
	height: 30px;
	font-size: 0.7rem;
	display: grid;
	place-items: center;
}
.responsive {
	display: none;
}

@media (max-width: 500px) {
	.contact-us-right {
		width: 95vw;
		height: 75%;
	}
	.image_conatiner {
	width: 100%;

}
}

/* /////----------------------------------free_course----------------------- */

@media (max-width: 510px) {

	.Social-media {
		margin-bottom: 10px;
	}
}


@media (max-width: 900px) {
	.Footer_conatiner {
		flex-direction: column;
	}
	.Footer_header {
		width: 100%;
	}
	.yellow_section {
		flex-direction: column;
	}
	.yellow_left {
		width: 100%;
		height: 65vh;
		align-items: center;
		padding: 30px 10px 10px 10px;
		text-align: center;
		margin: 20px 0 0 0;
	}
	.yellow_right {
		width: 100%;
		height: 30vh;
		overflow-x: hidden;
	}
	.desktop {
		display: none;
	}
	.responsive {
		display: flex;
	}
	.join_our {
		position: relative;
		align-items: center;
	}
}
@media (max-width: 750px) {
	.Footer_conatiner {
		padding: 5px;
	}
	.Footer_conatiner .Footer_columns_holder {
		width: 95%;
		align-items: center;
	}
	.Footer_columns {
		width: 50%;
	}
	.Footer_columns p {
		width: 95%;
	}
	.Privacy_holder {
		justify-content: space-around;
		flex-direction: column-reverse;
		padding: 10px;
	}
	.Privacy_links {
		width: 100%;
	}
	.Social-media {
		width: 50%;
	}
}
@media (max-width: 720px) {
	.menu_item ul {
		display: none;
	}
	.menu_item {
		display: none;
	}
	.buttons {
		width: 100px;
		background-color: red;
	}
}
@media (max-width: 550px) {
	.copyRight {
		font-size: 0.5rem;
	}
}

@media (max-width: 376px) {

	.copyRight {
		font-size: 0.5rem;
	}
	.contact-us-section {
		height: 97vh;
	}
}

@media (max-width: 600px) {
	.yellow_left h1,
	.yellow_left h2 {
		text-align: left;
		width: 100%;
	}
	.yellow_left h1 {
		font-size: 3rem;
		font-weight: 700;
		margin: 20px 0;
	}
	.yellow_section {
		padding: 0 10px;
	}
	.yellow_left {
		padding: 0 0;
		height: 10vh;
	}
	.yellow_left p {
		padding-bottom: 15px;
		font-size: 1rem;
		font-weight: 500;
	}
	.yellow_text_zone {
		height: 10vh;
		text-align: left;
	}
	.yellow_left button {
		margin: 0 auto;
	}
	.Hero_img {
		background-size: cover;
		width: 100vw;
		height: 85vw;
	}
	.Hero_section {
		height: 100vh;
	}
	.ham {
		display: grid;
		margin-right: 20px;
		border-radius: 5px;
		width: 40px;
		height: 40px;
		place-items: center;
	}
	.logo {
		margin-left: 20px;
	}
	.yellow_right {
		display: none;
	}
}